@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    --white1: hsl(0, 0%, 100%);
    --white2: hsl(0, 0%, 95%);
    --white3: hsl(0, 0%, 90%);
    --white4: hsl(0, 0%, 85%);
    --white5: hsl(0, 0%, 80%);
    --white6: hsl(0, 0%, 75%);
    --white7: hsl(0, 0%, 70%);
    --white8: hsl(0, 0%, 65%);
    --white9: hsl(0, 0%, 60%);
    --white10: hsl(0, 0%, 55%);

    --black1: hsl(0, 0%, 0%);
    --black2: hsl(0, 0%, 5%);
    --black3: hsl(0, 0%, 10%);
    --black4: hsl(0, 0%, 15%);
    --black5: hsl(0, 0%, 20%);
    --black6: hsl(0, 0%, 25%);
    --black7: hsl(0, 0%, 30%);
    --black8: hsl(0, 0%, 35%);
    --black9: hsl(0, 0%, 40%);
    --black10: hsl(0, 0%, 45%);

    --blacktransparent1: hsl(0, 0%, 0%, 4%);
    --blacktransparent2: hsl(0, 0%, 0%, 8%);
    --blacktransparent3: hsl(0, 0%, 0%, 12%);
    --blacktransparent4: hsl(0, 0%, 0%, 16%);
    --blacktransparent5: hsl(0, 0%, 0%, 20%);
    --blacktransparent6: hsl(0, 0%, 0%, 24%);
    --blacktransparent7: hsl(0, 0%, 0%, 28%);
    --blacktransparent8: hsl(0, 0%, 0%, 32%);
    --blacktransparent9: hsl(0, 0%, 0%, 36%);
    --blacktransparent10: hsl(0, 0%, 0%, 40%);

    --whitetransparent1: hsl(0, 0%, 100%, 4%);
    --whitetransparent2: hsl(0, 0%, 100%, 8%);
    --whitetransparent3: hsl(0, 0%, 100%, 12%);
    --whitetransparent4: hsl(0, 0%, 100%, 16%);
    --whitetransparent5: hsl(0, 0%, 100%, 20%);
    --whitetransparent6: hsl(0, 0%, 100%, 24%);
    --whitetransparent7: hsl(0, 0%, 100%, 28%);
    --whitetransparent8: hsl(0, 0%, 100%, 32%);
    --whitetransparent9: hsl(0, 0%, 100%, 36%);
    --whitetransparent10: hsl(0, 0%, 100%, 40%);
}
@media(prefers-color-scheme: dark){
    *{
        --base1: var(--black1);
        --base2: var(--black2);
        --base3: var(--black3);
        --base4: var(--black4);
        --base5: var(--black5);
        --base6: var(--black6);
        --base7: var(--black7);
        --base8: var(--black8);
        --base9: var(--black9);
        --base10: var(--black10);
        --transparent1: var(--whitetransparent1);
        --transparent2: var(--whitetransparent2);
        --transparent3: var(--whitetransparent3);
        --transparent4: var(--whitetransparent4);
        --transparent5: var(--whitetransparent5);
        --transparent6: var(--whitetransparent6);
        --transparent7: var(--whitetransparent7);
        --transparent8: var(--whitetransparent8);
        --transparent9: var(--whitetransparent9);
        --transparent10: var(--whitetransparent10);
    }
}
@media(prefers-color-scheme: light){
    * {
        --base1: var(--white1);
        --base2: var(--white2);
        --base3: var(--white3);
        --base4: var(--white4);
        --base5: var(--white5);
        --base6: var(--white6);
        --base7: var(--white7);
        --base8: var(--white8);
        --base9: var(--white9);
        --base10: var(--white10);
        --transparent1: var(--blacktransparent1);
        --transparent2: var(--blacktransparent2);
        --transparent3: var(--blacktransparent3);
        --transparent4: var(--blacktransparent4);
        --transparent5: var(--blacktransparent5);
        --transparent6: var(--blacktransparent6);
        --transparent7: var(--blacktransparent7);
        --transparent8: var(--blacktransparent8);
        --transparent9: var(--blacktransparent9);
        --transparent10: var(--blacktransparent10);
    }
}


html{
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}
#root {
    height: 100%;
}